h1 {
  font-size: 30px;
  
}

p {
  margin-left: 40px;
  color: green;
  font-size: 20px;
}

.button {
  margin-left: 40px;
  display: block;
  height: 50px;
  width: 150px;
  background: #34696f;
  border: 2px solid rgba(33, 68, 72, 0.59);
  
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: 30px "Arial";
  
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 50px;
  box-shadow: 0 8px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

a.button{
  text-decoration: none;
  
}